* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



body {
    background-color: #DA2A1C!important;
}

.hero {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 960px) {
    .hero {
        height: auto;
    }
}


.header-info {
    padding: 24px 0;
    margin: 0 auto 196px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;   
    height: 10vh;
}

.header-info__image {
    width: 50px;
    margin-left: 12px;
}

.header-info__title {
    font-size: 28px;
    margin: 0;
}

.content-infos { 
    width: 100%;
    text-align: center;
    border: 1px solid hsla(240,8%,57%,.2);
    box-shadow: 0 10px 25px 0 hsla(240,8%,57%,.25);
    background-color: #f8f8f8;
    margin: 0 auto;
    padding: 48px 12px;
}

@media (min-width: 960px) {
    .content-infos {
        text-align: left;
        width: 600px;
    }
}

.content-infos__sublabel {
    color: #ffffff;
    font-size: 22px;
    margin: 48px 0 24px 0;
    text-align: center;
}

.content-infos__now {
    width: 100%;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.content-infos__label {
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

.content-infos__price {
    font-weight: bold;
    font-size: 56px;
    margin: 0;
    padding: 0;
}

.content-after-days {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 960px) {
    .content-after-days {
        width: 100%;
    }
}

.content-after-days__data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width:130px;
    border: 1px solid hsla(240,8%,57%,.2);
    box-shadow: 0 10px 25px 0 hsla(240,8%,57%,.25);
    background-color: #f8f8f8;
    color: #000000;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;

}


@media (max-width: 960px) {
    .content-after-days__data {
        width: 100%;
        margin-bottom: 12px;
    }
}

@media (max-width: 959px) {
    .content-after-days {
        flex-direction: column;
    }
}

.chart-canvas {
    margin: 0 auto;
}

.chart-price {
    width: 100%;
    height:500px;
}

@media (max-width: 960px) {
    .chart-price {
        width: 300px;
        height: 300px;
    }
}

.radio-label {
    color: #ffffff;
}

.chart-canvas {
    margin: 0 0 48px 0;
}

footer {
    background-color: #ffffff;
    padding: 8px 0;
}


footer p {
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 8px;
}